<mat-toolbar color="primary">
  <button mat-icon-button>
      <mat-icon>menu</mat-icon>
  </button>
  <span>Memories of the universe</span>
</mat-toolbar>
<nav>
  <a>
      <button mat-button color="primary" [routerLink]="'/home'">
        Home
      </button>
  </a>
  <a>
      <button mat-button color="primary" [routerLink]="'/material-demo'">
        APOTD
      </button>
  </a>
  <a>
      <button mat-button color="primary">
        About
      </button>
  </a>
</nav>

<router-outlet></router-outlet>
