<mat-list>
  <mat-list-item>
    <img mat-line mat-list-avatar src="https://www.shareicon.net/data/128x128/2015/09/20/104335_avatar_512x512.png" alt="">
    <span mat-line>Dennis Padilla</span>
    <span mat-line>Cochabamba</span>
  </mat-list-item>
  <mat-list-item >
      <img mat-line mat-list-avatar src="https://www.shareicon.net/data/128x128/2015/09/20/104335_avatar_512x512.png" alt="">
    <span mat-line>Brian Padilla</span>
    <span mat-line>Miami</span>
  </mat-list-item>
  <mat-list-item>
      <img mat-line mat-list-avatar src="https://www.shareicon.net/data/128x128/2015/09/20/104335_avatar_512x512.png" alt="">
    <span mat-line>Dennyan Lopez</span>
    <span mat-line>Paris</span>
  </mat-list-item>
</mat-list>